/* Header */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color: white;
  --bg-url: url(img/Background.jpg);
  --switch-bg-url: url(img/moon-star.svg);
}

.light{
  --text-color: black;
  --bg-url: url(img/Baaaackground.jpg);
  --switch-bg-url: url(img/sun.svg);
}

body{
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

#container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

#containerPhoto{
  width: 100%;
  display: flex;
  justify-content: center;
}

#myphoto{
  width: 150px;
  border: 2px solid var(--text-color);
  border-radius: 50%;
}

#containerIg{
  margin: 2em 0em;
  width: 100%;
}

#myIg{
  text-align: center;
  color: var(--text-color);
  font-size: 20px;
}

/* Main */

#switchContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

#switch{
  position: relative;
}

#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button{
  right: 0;
  left: initial;
}

#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--text-color);
  border-radius: 9999px;
}

#myButtons{
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

#btns{
  width: 100%;
  margin-bottom: 1em;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--text-color);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 8px;
  padding: 16px 24px ;
}

#myLinks{
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
}

/* Footer */

#copyright{
  margin-top: 10em;
  text-align: center;
  color: var(--text-color);
  font-size: 18px;
}